.DS_Store

# Thumbnails
._*
.claude/skills


# Files that might appear on external disk
.Spotlight-V100
.Trashes

docs/_build
docs/doctrees

build
!bin/build
node_modules
npm-debug.log
ios
./android
yarn-error.log

scratch/

*.pyc
__pycache__/

.idea
*.sublime-*

dist/
coverage/
reports/
plugins

.eslintcache
.mcp.json
.vscode/launch.json
.env
.vercel

e2e-tests/fixtures/.tracking/*
